<div>
  <form (ngSubmit)="save()" [formGroup]="form">
    <mat-card-title-group class="row">
      <mat-card-title class="column" *ngIf="note == undefined">Add note</mat-card-title>
      <mat-card-title class="column" *ngIf="note != undefined">Edit note</mat-card-title>
      <button mat-icon-button type="button" (click)="dialogRef.close()">
        <mat-icon  class="material-icons-outlined">close</mat-icon>
      </button>
    </mat-card-title-group>
    <div class="row">
      <mat-form-field appearance="outline" class="columns">
        <textarea matInput formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"
          #autosize="cdkTextareaAutosize">
          </textarea>
        <mat-label>Note</mat-label>
      </mat-form-field>
    </div>
    <div class="row align-right">
      <button mat-stroked-button color="warn" class="columns small-3 margin-right-1" *ngIf="note != undefined"
        type="button" (click)="deleteNote()">
        Delete
      </button>
      <button mat-raised-button color="primary" class="columns small-3" style="margin-right: 15px">
        Save
      </button>
    </div>
  </form>
</div>
