* {
  box-sizing: border-box;
}

.main-container {
  width: 800px;
  margin: 1rem auto;
}

mat-list-item {
  height: auto !important;
  margin-bottom: 12px;
}

mat-card {
  margin-bottom: 24px;
}

.sidenav-container {
    overflow: hidden;
    min-height: 36rem;
}

.sidenav-content {
  background-color: white;
  overflow: hidden;
}
